{% extends 'layout.html' %}

{% load static %}

{% block main %}
<form class="row g-3 " method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">
      
      <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName4" name="name" value="{{student.name}}">
      </div>
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Reg No. </label>
        <input type="number" class="form-control" id="inputZip" name="reg_no" value="{{student.admission_number}}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <label for="inputZip" class="form-label">Age</label>
        <input type="number" class="form-control" id="inputZip" name="age" value="{{student.age}}">
      </div>
      
      <div class="col-md-12">
        <label for="inputZip" class="form-label">Image  <p>{{student.profile}}</p></label>
        <input type="file" class="form-control" id="inputZip" name="image" >
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
{% endblock %}